{% extends "base.twig" %} {% block content %}
{% include 'include/header-w.twig'%}
<div data-scroll-container>
    <section class="sb p-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 pb-5 pb-lg-0">
                    <h1 class="appear-title h-sm" data-dpk-call>
                        <div><span> We are a Creative </span></div>
                        <div><span> AI Integration </span></div>
                        <div><span> Specialist Agency. </span></div>
                    </h1>

                    <h1 class="appear-title d-sm pb-3" data-dpk-call>
                        <div><span> We are </span></div>
                        <div><span> a Creative </span></div>
                        <div><span> AI Integration </span></div>
                        <div><span> Specialist</span></div>
                        <div><span> Agency. </span></div>
                    </h1>
                </div>
                <div class="col-lg-5 pt-4">
                    <div class="appear-y dl-4 dl-sm-0 ps-lg-4" data-dpk-call>
                        <p>
                            We partner with other companies to create incredible campaigns
                            that leave our clients wanting more. Through innovative strategies
                            and creative excellence, we ensure each project surpasses
                            expectations, sparking lasting connections and anticipation for
                            what's next.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section-2">
        <div data-dpk-call="imgR">
            <div class="reveal">
                <img src="{{ theme.link ~ '/src/img/1.jpg'}}" />
            </div>
        </div>
    </section>

    <section class="st bg-white">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 order-2 order-lg-1" data-dpk-call="counter">
                    <div class="counter">
                        <span>60%</span>
                    </div>
                </div>

                <div class="col-lg-5 text-blue order-1 order-lg-2 pb-7 pb-lg-0">
                    <p class="w-lg-50">
                        Why do we focus on AI? Over
                        <span class="text-red">60%</span> of businesses have adopted some
                        form of AI in their marketing strategies.
                    </p>

                    <a href="#" class="linehover mt-5">More about us</a>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-cream sy">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <h1 class="appear-title text-white" data-dpk-call>
                        <div><span> Don’t be late </span></div>
                        <div><span> to the party. </span></div>
                    </h1>

                    <h4 class="text-blue mt-5 appear-y dl-5" data-dpk-call>
                        We’re here to help.
                    </h4>
                </div>
                <div class="col-lg-4 position-relative vh-sm-25">
                    <div class="f-img">
                        <div data-dpk-call="imgR">
                            <div class="reveal">
                                <img src="{{ theme.link ~ '/src/img/2.jpg'}}" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="sy">
        <div class="container pt-10 pt-lg-0">
            <div class="col-lg-7">
                <h4 class="appear-y" data-dpk-call>
                    With a global reach and a wide range of clients across different
                    industries, we’re certain there’s no audience we can’t reach.
                </h4>
            </div>

            <div class="slider client sy" data-slides="2">
                <div class="swiper text-center">
                    <div class="swiper-wrapper pb-6">
                        <div class="swiper-slide">
                            <div class="row">
                                <div class="col-6">
                                    <img src="{{ theme.link ~ '/src/img/logo/1.svg'}}" alt="" />
                                </div>
                                <div class="col-6">
                                    <img src="{{ theme.link ~ '/src/img/logo/2.svg'}}" alt="" />
                                </div>
                                <div class="col-6">
                                    <img src="{{ theme.link ~ '/src/img/logo/3.svg'}}" alt="" />
                                </div>
                                <div class="col-6">
                                    <img src="{{ theme.link ~ '/src/img/logo/4.svg'}}" alt="" />
                                </div>
                                <div class="col-6">
                                    <img src="{{ theme.link ~ '/src/img/logo/5.svg'}}" alt="" />
                                </div>
                                <div class="col-6">
                                    <img src="{{ theme.link ~ '/src/img/logo/6.svg'}}" alt="" />
                                </div>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="row">
                                <div class="col-6">
                                    <img src="{{ theme.link ~ '/src/img/logo/7.svg'}}" alt="" />
                                </div>
                                <div class="col-6">
                                    <img src="{{ theme.link ~ '/src/img/logo/8.svg'}}" alt="" />
                                </div>
                                <div class="col-6">
                                    <img src="{{ theme.link ~ '/src/img/logo/9.svg'}}" alt="" />
                                </div>
                                <div class="col-6">
                                    <img src="{{ theme.link ~ '/src/img/logo/10.svg'}}" alt="" />
                                </div>
                                <div class="col-6">
                                    <img src="{{ theme.link ~ '/src/img/logo/11.svg'}}" alt="" />
                                </div>
                                <div class="col-6">
                                    <img src="{{ theme.link ~ '/src/img/logo/12.svg'}}" alt="" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
    </section>

    <section class="sb">
        <div class="container project-s project-sm-view">
            <div class="row">
                <div class="col-lg-9 offset-lg-3 position-relative">
                    <div class="slider pb-lg-8" data-slides="1">
                        <div class="swiper">
                            <div class="swiper-wrapper pb-6">
                                <div class="swiper-slide">
                                    <div data-dpk-call="imgL">
                                        <div class="reveal">
                                            <img src="{{ theme.link ~ '/src/img/s1.jpg'}}" />
                                        </div>
                                    </div>
                                </div>

                                <div class="swiper-slide">
                                    <img src="{{ theme.link ~ '/src/img/s1.jpg'}}" />
                                </div>
                            </div>
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>

                    <div class="slider-title pt-6 pt-lg-0">
                        <h3 class="appear-title" data-dpk-call>
                            <div><span> Using Gen AI to </span></div>
                            <div><span> empower creativity and </span></div>
                            <div><span> sustainability at SXSW </span></div>
                        </h3>

                        <a href="#" class="mt-5 linehover appear-y dl-4" data-dpk-call>View full case study</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="sy">
        <div class="container">
            <h2 class="appear-title" data-dpk-call>
                <div><span> We value open communication and would </span></div>
                <div><span> love to hear from you. Whether you have </span></div>
                <div>
                    <span> a question, a project idea, or simply want to </span>
                </div>

                <div>
                    <span> learn more about our services, our team </span>
                </div>
                <div>
                    <span> at CAIIS are here to assist you. </span>
                </div>
            </h2>

            <div class="mt-7 d-inline-flex flex-column appear-y" data-dpk-call>
                <div class="mb-3">
                    <a href="#" class="linehover w">Get in touch here </a>
                </div>
                <div class="mb-3">
                    <a href="tel:+44 (0) 7557 981 728" class="linehover w">+44 (0) 7557 981 728</a>
                </div>
                <div class="mb-3">
                    <a href="mailto:hello@caiis.co.uk" class="linehover w">hello@caiis.co.uk</a>
                </div>
            </div>
        </div>
    </section>

    {% include 'include/footer.twig'%}
</div>
{% endblock %}